<template>
	<svg class="icon icon-home" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M12 3.85547L3.44052 10.9119C3.44052 10.9218 3.43802 10.9365 3.43302 10.9564C3.42811 10.9763 3.42551 10.9907 3.42551 11.0009V18.1462C3.42551 18.4042 3.51983 18.6278 3.70842 18.8161C3.89696 19.0045 4.12022 19.0992 4.37826 19.0992H10.0944V13.3828H13.9057V19.0995H19.6217C19.8797 19.0995 20.1033 19.0049 20.2916 18.8161C20.4802 18.628 20.5748 18.4043 20.5748 18.1462V11.0009C20.5748 10.9612 20.5694 10.9313 20.5598 10.9119L12 3.85547Z" fill="#757575"/>
		<path d="M23.8344 9.30412L20.5745 6.5948V0.521142C20.5745 0.382292 20.5299 0.268105 20.4403 0.178737C20.3515 0.0894728 20.2373 0.0448407 20.0981 0.0448407H17.24C17.101 0.0448407 16.9869 0.0894728 16.8974 0.178737C16.8082 0.268105 16.7637 0.382345 16.7637 0.521142V3.42395L13.1315 0.387037C12.8142 0.128995 12.4371 0 12.0003 0C11.5637 0 11.1865 0.128995 10.869 0.387037L0.165418 9.30412C0.0661949 9.38337 0.0118127 9.49005 0.00169755 9.62405C-0.00836549 9.75795 0.0263077 9.8749 0.105821 9.97407L1.02875 11.0757C1.10827 11.165 1.21234 11.2195 1.34139 11.2395C1.46053 11.2495 1.57967 11.2147 1.69881 11.1353L12 2.54564L22.3013 11.1353C22.3809 11.2045 22.4849 11.2391 22.614 11.2391H22.6587C22.7876 11.2195 22.8914 11.1645 22.9714 11.0755L23.8944 9.97402C23.9737 9.87464 24.0085 9.75789 23.9982 9.62384C23.988 9.49021 23.9334 9.38353 23.8344 9.30412Z" fill="#757575"/>
	</svg>
</template>

<script>
   	export default {
        data: () => ({
        })
    }
</script>

<style lang="scss">
	
</style>
