<template>
	<svg class="icon icon-consult" viewBox="0 0 38 42" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0)">
		<path d="M35.7452 6.89079C35.21 6.29704 34.575 6.00012 33.8418 6.00012H31.1348V3.75003C31.1348 2.71898 30.8031 1.83611 30.1405 1.10173C29.4774 0.367352 28.6811 0 27.7502 0H26.3969C25.4661 0 24.6695 0.367352 24.0068 1.10181C23.3438 1.83611 23.0124 2.71906 23.0124 3.75011V6.0002H14.8909V3.75011C14.8909 2.71906 14.5594 1.83619 13.8966 1.10181C13.234 0.367352 12.4373 0 11.5065 0H10.1529C9.22231 0 8.42557 0.367352 7.76277 1.10181C7.10011 1.83611 6.76852 2.71906 6.76852 3.75011V6.0002H4.06145C3.32805 6.0002 2.69361 6.29712 2.15778 6.89087C1.62196 7.48455 1.354 8.18789 1.354 9.00034V39.0003C1.354 39.8122 1.62196 40.5154 2.15778 41.1095C2.69354 41.7031 3.32797 42.0001 4.06145 42.0001H33.8413C34.5744 42.0001 35.2095 41.7032 35.7447 41.1095C36.2806 40.5156 36.5486 39.8121 36.5486 39.0003V9.00026C36.5486 8.18757 36.2808 7.48455 35.7452 6.89079ZM10.1527 38.9999H4.06145V32.2497H10.1527V38.9999ZM10.1527 30.7501H4.06145V23.2505H10.1527V30.7501ZM10.1527 21.7498H4.06145V15.0001H10.1527V21.7498ZM9.6771 11.0274C9.54308 10.8789 9.47619 10.7035 9.47619 10.5001V3.75036C9.47619 3.54727 9.54308 3.37135 9.6771 3.2231C9.81111 3.0746 9.96942 3.00047 10.1529 3.00047H11.5065C11.6897 3.00047 11.8485 3.0746 11.9823 3.2231C12.1163 3.37143 12.1833 3.54727 12.1833 3.75036V10.5001C12.1833 10.7035 12.116 10.879 11.9823 11.0274C11.8484 11.1759 11.69 11.25 11.5065 11.25H10.1529C9.96964 11.2501 9.81111 11.1759 9.6771 11.0274ZM18.2747 38.9999H11.5062V32.2497H18.2747V38.9999ZM18.2747 30.7501H11.5062V23.2505H18.2747V30.7501ZM18.2747 21.7498H11.5062V15.0001H18.2747V21.7498ZM26.3969 38.9999H19.6286V32.2497H26.3969V38.9999ZM26.3969 30.7501H19.6286V23.2505H26.3969V30.7501ZM26.3969 21.7498H19.6286V15.0001H26.3969V21.7498ZM25.9208 11.0274C25.7869 10.8789 25.7203 10.7035 25.7203 10.5001V3.75036C25.7203 3.54727 25.7869 3.37135 25.9208 3.2231C26.0547 3.0746 26.2133 3.00047 26.3969 3.00047H27.7502C27.9338 3.00047 28.0923 3.0746 28.2264 3.2231C28.3603 3.37143 28.4269 3.54727 28.4269 3.75036V10.5001C28.4269 10.7035 28.36 10.879 28.2264 11.0274C28.0925 11.1759 27.9338 11.25 27.7502 11.25H26.3969C26.2134 11.2501 26.0542 11.1759 25.9208 11.0274ZM33.8413 38.9999H27.7497V32.2497H33.8413V38.9999ZM33.8413 30.7501H27.7497V23.2505H33.8413V30.7501ZM33.8413 21.7498H27.7497V15.0001H33.8413V21.7498Z" fill="#757575"/>
		<rect x="3.60986" y="15" width="30.6829" height="24" fill="white"/>
		<path d="M23.4917 32.5098V31.3916C23.4917 29.681 24.0356 27.9045 25.1079 26.2421C25.8213 25.136 26.1895 23.8336 26.1701 22.4279C25.9186 19.9037 23.992 18 21.688 18C20.495 18 19.3402 18.5126 18.5013 19.4236C17.6624 18.5126 16.5076 18 15.3147 18C13.0106 18 11.084 19.9037 10.8299 22.4756C10.8131 23.8336 11.1813 25.1361 11.8947 26.2421C12.967 27.9045 13.5109 29.681 13.5109 31.3916V32.5098C13.5109 33.8828 14.5224 35 15.7656 35H16.4055L16.3029 34.4081C16.2438 34.0691 16.2165 33.7826 16.2165 33.5059C16.2165 31.5837 17.2581 30.0195 18.5013 30.0195C19.7445 30.0195 20.7861 31.5837 20.7861 33.5059C20.7861 33.7826 20.7588 34.0691 20.6998 34.4081L20.5972 35H21.237C22.4802 35 23.4917 33.8828 23.4917 32.5098Z" fill="#757575"/>
		</g>
		<defs>
			<clipPath id="clip0">
				<rect width="37.9024" height="42" fill="white"/>
			</clipPath>
		</defs>
	</svg>
</template>

<script>
   	export default {
        data: () => ({
        })
    }
</script>

<style lang="scss">
	
</style>
