<template>
	<svg class="icon icon-ticket" width="15" height="21" viewBox="0 0 15 21" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M14.7266 4.30664L10.9023 0.287109C10.7266 0.102539 10.4883 0 10.2383 0H10V5.25H15V4.9998C15 4.74141 14.9023 4.49121 14.7266 4.30664ZM8.75 5.57812V0H0.9375C0.417969 0 0 0.438867 0 0.984375V20.0156C0 20.5611 0.417969 21 0.9375 21H14.0625C14.582 21 15 20.5611 15 20.0156V6.5625H9.6875C9.17188 6.5625 8.75 6.11953 8.75 5.57812ZM2.5 2.95312C2.5 2.77184 2.63984 2.625 2.8125 2.625H5.9375C6.11016 2.625 6.25 2.77184 6.25 2.95312V3.60938C6.25 3.79066 6.11016 3.9375 5.9375 3.9375H2.8125C2.63984 3.9375 2.5 3.79066 2.5 3.60938V2.95312ZM2.5 6.23438V5.57812C2.5 5.39684 2.63984 5.25 2.8125 5.25H5.9375C6.11016 5.25 6.25 5.39684 6.25 5.57812V6.23438C6.25 6.41566 6.11016 6.5625 5.9375 6.5625H2.8125C2.63984 6.5625 2.5 6.41566 2.5 6.23438ZM8.125 17.0576V18.0469C8.125 18.2282 7.98516 18.375 7.8125 18.375H7.1875C7.01484 18.375 6.875 18.2282 6.875 18.0469V17.0506C6.43398 17.0268 6.00508 16.8652 5.64961 16.5851C5.49727 16.4649 5.48945 16.2254 5.62734 16.0871L6.08633 15.6274C6.19453 15.5191 6.35547 15.5142 6.48203 15.5974C6.6332 15.6967 6.80469 15.75 6.98281 15.75H8.08086C8.33477 15.75 8.5418 15.5072 8.5418 15.209C8.5418 14.965 8.40078 14.75 8.19922 14.6869L6.44141 14.1332C5.71523 13.9043 5.20781 13.1726 5.20781 12.3535C5.20781 11.3478 5.95195 10.5308 6.87461 10.5049V9.51562C6.87461 9.33434 7.01445 9.1875 7.18711 9.1875H7.81211C7.98477 9.1875 8.12461 9.33434 8.12461 9.51562V10.5119C8.56563 10.5357 8.99453 10.6969 9.35 10.9774C9.50234 11.0976 9.51016 11.3371 9.37226 11.4754L8.91328 11.9351C8.80508 12.0434 8.64414 12.0483 8.51758 11.9651C8.36641 11.8654 8.19492 11.8125 8.0168 11.8125H6.91875C6.66484 11.8125 6.45781 12.0553 6.45781 12.3535C6.45781 12.5975 6.59883 12.8125 6.80039 12.8756L8.5582 13.4293C9.28438 13.6582 9.7918 14.3899 9.7918 15.209C9.7918 16.2151 9.04766 17.0317 8.125 17.0576Z" fill="#676767"/>
	</svg>
</template>

<script>
   	export default {
        data: () => ({
        })
    }
</script>

<style lang="scss">
	
</style>

