<template>
	<svg class="icon icon-home" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M13.6363 4.96294L10.609 4.96289H6.67652L1.36353 4.96294L1.36356 7.72725V14.0909H4.6999C4.28219 13.2677 4.56672 11.5991 4.27083 10.0041C3.96356 8.34955 3.24083 7.30498 4.29583 6.32362C5.49218 5.21135 6.68582 6.71638 7.43493 6.71638C8.18355 6.71638 9.44493 5.17547 10.739 6.47411C11.8209 7.55998 10.9222 8.45865 10.609 10.0164C10.2831 11.6359 10.4685 13.3309 10.3277 14.0905H13.6363V7.72681V4.96294Z" fill="#757575"/>
		<path d="M7.48606 11.282C6.35331 11.287 6.07971 13.2006 5.67017 14.0911H9.54017C9.0765 13.2156 8.72198 11.277 7.48606 11.282Z" fill="#757575"/>
		<path d="M7.27223 8.52295H6.55267V9.24246H7.27223V8.52295Z" fill="#757575"/>
		<path d="M7.27223 9.69678H6.55267V10.4163H7.27223V9.69678Z" fill="#757575"/>
		<path d="M8.44679 8.52295H7.72723V9.24246H8.44679V8.52295Z" fill="#757575"/>
		<path d="M8.44679 9.69678H7.72723V10.4163H8.44679V9.69678Z" fill="#757575"/>
		<path d="M14.2433 12.9082H13.5311V14.11H14.2433V12.9082Z" fill="#757575"/>
		<path d="M1.42426 12.9082H0.712097V14.11H1.42426V12.9082Z" fill="#757575"/>
		<path d="M14.5549 3.29395H0.222595V4.62926H14.5549V3.29395Z" fill="#757575"/>
	</svg>
</template>

<script>
   	export default {
        data: () => ({
        })
    }
</script>

<style lang="scss">
	
</style>
