<template>
	<svg class="icon icon-credit-card" width="20" height="18" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M21.0793 1.25H1.92066C0.858507 1.25 0 2.08984 0 3.125V16.875C0 17.9102 0.858507 18.75 1.92066 18.75H21.0793C22.1415 18.75 23 17.9102 23 16.875V3.125C23 2.08984 22.1415 1.25 21.0793 1.25ZM2.16024 3.125H20.8398C20.9715 3.125 21.0793 3.23047 21.0793 3.35938V5H1.92066V3.35938C1.92066 3.23047 2.02847 3.125 2.16024 3.125ZM20.8398 16.875H2.16024C2.02847 16.875 1.92066 16.7695 1.92066 16.6406V10H21.0793V16.6406C21.0793 16.7695 20.9715 16.875 20.8398 16.875ZM7.66667 12.9688V14.5312C7.66667 14.7891 7.45104 15 7.1875 15H4.3125C4.04896 15 3.83333 14.7891 3.83333 14.5312V12.9688C3.83333 12.7109 4.04896 12.5 4.3125 12.5H7.1875C7.45104 12.5 7.66667 12.7109 7.66667 12.9688ZM15.3333 12.9688V14.5312C15.3333 14.7891 15.1177 15 14.8542 15H9.42361C9.16007 15 8.94444 14.7891 8.94444 14.5312V12.9688C8.94444 12.7109 9.16007 12.5 9.42361 12.5H14.8542C15.1177 12.5 15.3333 12.7109 15.3333 12.9688Z" fill="#676767"/>
	</svg>
</template>

<script>
   	export default {
        data: () => ({
        })
    }
</script>

<style lang="scss">
	
</style>

