<template>
	<svg class="icon icon-money" width="27" height="22" viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M14.85 12.375H14.175V8.59375C14.175 8.40383 14.024 8.25 13.8375 8.25H13.2646C13.0646 8.25 12.8693 8.31016 12.7031 8.42316L12.0563 8.8623C12.0195 8.88732 11.9878 8.91949 11.9631 8.95698C11.9384 8.99447 11.9213 9.03654 11.9126 9.0808C11.9039 9.12505 11.9038 9.17062 11.9124 9.21489C11.921 9.25917 11.9381 9.30128 11.9627 9.33883L12.3373 9.91074C12.3619 9.94831 12.3935 9.98058 12.4303 10.0057C12.4671 10.0308 12.5084 10.0483 12.5518 10.0572C12.5953 10.066 12.64 10.0661 12.6835 10.0573C12.727 10.0486 12.7683 10.0312 12.8052 10.0061L12.825 9.99281V12.375H12.15C11.9635 12.375 11.8125 12.5288 11.8125 12.7188V13.4062C11.8125 13.5962 11.9635 13.75 12.15 13.75H14.85C15.0365 13.75 15.1875 13.5962 15.1875 13.4062V12.7188C15.1875 12.5288 15.0365 12.375 14.85 12.375ZM25.65 2.75H1.35C0.604547 2.75 0 3.36574 0 4.125V17.875C0 18.6343 0.604547 19.25 1.35 19.25H25.65C26.3955 19.25 27 18.6343 27 17.875V4.125C27 3.36574 26.3955 2.75 25.65 2.75ZM2.025 17.1875V14.4375C3.51633 14.4375 4.725 15.6686 4.725 17.1875H2.025ZM2.025 7.5625V4.8125H4.725C4.725 6.33145 3.51633 7.5625 2.025 7.5625ZM13.5 15.8125C11.2632 15.8125 9.45 13.6576 9.45 11C9.45 8.34195 11.2632 6.1875 13.5 6.1875C15.7368 6.1875 17.55 8.34195 17.55 11C17.55 13.6585 15.7359 15.8125 13.5 15.8125ZM24.975 17.1875H22.275C22.275 15.6686 23.4837 14.4375 24.975 14.4375V17.1875ZM24.975 7.5625C23.4837 7.5625 22.275 6.33145 22.275 4.8125H24.975V7.5625Z" fill="#676767"/>
	</svg>
</template>

<script>
   	export default {
        data: () => ({
        })
    }
</script>

<style lang="scss">
	
</style>

