<template>
	<svg class="icon icon-debit-card" width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0 15.1875C0 16.1191 0.746528 16.875 1.66667 16.875H18.3333C19.2535 16.875 20 16.1191 20 15.1875V9H0V15.1875ZM6.66667 12.7969C6.66667 12.5648 6.85417 12.375 7.08333 12.375H11.8056C12.0347 12.375 12.2222 12.5648 12.2222 12.7969V14.2031C12.2222 14.4352 12.0347 14.625 11.8056 14.625H7.08333C6.85417 14.625 6.66667 14.4352 6.66667 14.2031V12.7969ZM2.22222 12.7969C2.22222 12.5648 2.40972 12.375 2.63889 12.375H5.13889C5.36806 12.375 5.55556 12.5648 5.55556 12.7969V14.2031C5.55556 14.4352 5.36806 14.625 5.13889 14.625H2.63889C2.40972 14.625 2.22222 14.4352 2.22222 14.2031V12.7969ZM20 2.8125V4.5H0V2.8125C0 1.88086 0.746528 1.125 1.66667 1.125H18.3333C19.2535 1.125 20 1.88086 20 2.8125Z" fill="#676767"/>
	</svg>
</template>

<script>
   	export default {
        data: () => ({
        })
    }
</script>

<style lang="scss">
	
</style>

