<template>
	<svg class="icon icon-treatment" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0)">
			<path d="M18.9589 19.6309V18.118C18.9589 15.8037 19.7715 13.4002 21.3739 11.151C22.4399 9.65465 22.99 7.89246 22.961 5.99074C22.5853 2.57555 19.7064 0 16.2635 0C14.4809 0 12.7554 0.693549 11.5018 1.92607C10.2483 0.693549 8.52274 0 6.74011 0C3.29725 0 0.418339 2.57555 0.0386588 6.05524C0.0136374 7.89246 0.563749 9.6547 1.62979 11.1511C3.23211 13.4002 4.04479 15.8037 4.04479 18.1181V19.6309C4.04479 21.4885 5.55628 23 7.41394 23H8.37005L8.21673 22.1992C8.12855 21.7405 8.08776 21.3529 8.08776 20.9785C8.08776 18.3779 9.64417 16.2617 11.5018 16.2617C13.3595 16.2617 14.9159 18.3779 14.9159 20.9785C14.9159 21.3529 14.8751 21.7405 14.7869 22.1992L14.6336 23H15.5897C17.4473 23 18.9589 21.4885 18.9589 19.6309Z" fill="#757575"/>
			<path d="M10.7181 0L14.1538 5.26817L10.0256 6.15514L11.4905 10.0256" stroke="white" stroke-width="2"/>
		</g>

		<defs>
			<clipPath id="clip0">
				<rect width="23" height="23" fill="white"/>
			</clipPath>
		</defs>
	</svg>
</template>

<script>
   	export default {
        data: () => ({
        })
    }
</script>

<style lang="scss">
	
</style>

