<template>
	<svg class="icon icon-payment" viewBox="0 0 29 27" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M13.7324 7.60957L16.3978 8.36367C16.5897 8.41641 16.723 8.5957 16.723 8.79082C16.723 9.0334 16.5204 9.23379 16.2752 9.23379H14.5267C14.3347 9.23379 14.1482 9.1916 13.9776 9.11777C13.7217 9.00176 13.4232 9.02812 13.2259 9.22324L12.293 10.1461C12.0105 10.4256 12.0425 10.9002 12.373 11.1164C12.8794 11.4486 13.4551 11.649 14.0682 11.7229V12.6562C14.0682 13.1203 14.452 13.5 14.9211 13.5H15.7741C16.2432 13.5 16.627 13.1203 16.627 12.6562V11.7281C18.2423 11.5383 19.4684 10.0934 19.2551 8.40586C19.1006 7.19297 18.1517 6.22793 16.9682 5.89043L14.3028 5.13633C14.1108 5.08359 13.9776 4.9043 13.9776 4.70918C13.9776 4.4666 14.1801 4.26621 14.4254 4.26621H16.1739C16.3658 4.26621 16.5524 4.3084 16.723 4.38223C16.9789 4.49824 17.2774 4.47187 17.4746 4.27676L18.4075 3.35391C18.6901 3.07441 18.6581 2.5998 18.3276 2.38359C17.8211 2.05137 17.2454 1.85098 16.6324 1.77715V0.84375C16.6324 0.379687 16.2485 0 15.7794 0H14.9265C14.4574 0 14.0735 0.379687 14.0735 0.84375V1.77187C12.4583 1.96172 11.2322 3.40664 11.4454 5.09414C11.6 6.30703 12.5489 7.27207 13.7324 7.60957ZM28.4616 17.3021C27.8645 16.7379 26.9423 16.7748 26.3132 17.3021L21.6647 21.1992C21.0943 21.6791 20.3853 21.9375 19.6496 21.9375H13.695C13.2526 21.9375 12.8901 21.5578 12.8901 21.0938C12.8901 20.6297 13.2526 20.25 13.695 20.25H17.6346C18.4395 20.25 19.1805 19.6752 19.3085 18.8473C19.4737 17.7926 18.6954 16.875 17.7199 16.875H9.66489C8.30551 16.875 6.98879 17.3654 5.9386 18.2619L3.59835 20.25H0.804963C0.3625 20.25 0 20.6297 0 21.0938V26.1562C0 26.6203 0.3625 27 0.804963 27H18.7647C19.495 27 20.204 26.7416 20.7798 26.2617L28.3923 19.8809C29.1599 19.2428 29.2186 18.0193 28.4616 17.3021Z" fill="#757575"/>
	</svg>
</template>

<script>
   	export default {
        data: () => ({
        })
    }
</script>

<style lang="scss">
	
</style>

