<template>
	<v-container>
		<v-layout row wrap>
			<v-flex>
				<v-card flat class="panel">
					<v-toolbar card light dense elevation="0">
						<v-breadcrumbs divider="-" class="px-0">
						    <v-breadcrumbs-item class="active">
						    	<IconConsult/>

						        Consulta
						      </v-breadcrumbs-item>
						</v-breadcrumbs>
					</v-toolbar>

					<v-container grid-list-lg>
						<v-layout row wrap>
							<v-flex xs12>
								<FullCalendar locale="pt-br" defaultView="dayGridMonth" :plugins="calendarPlugins" />
							</v-flex>
						</v-layout>

						<v-layout row wrap>
							<v-flex xs12>
								<v-data-table :headers="headers" :items="desserts" class="elevation-2">
								    <template v-slot:items="props">
										<td class="text-xs-center">
					                        <div class="td-status status-1" v-if="props.item.status == 'occurring'">
					                        	<div>{{ props.item.date }}</div> <div>{{ props.item.time }}</div>
					                        </div>

					                        <div class="td-status status-2" v-if="props.item.status == 'finish'">
					                        	<div>{{ props.item.date }}</div> <div>{{ props.item.time }}</div>
					                        </div>

					                        <div class="td-status status-3" v-if="props.item.status == 'canceled'">
					                        	<div>{{ props.item.date }}</div> <div>{{ props.item.time }}</div>
					                        </div>
				                      	</td>

										<td class="text-xs-center">{{ props.item.treatment }}</td>
										<td class="text-xs-center">{{ props.item.procediment }}</td>
										<td class="text-xs-center">{{ props.item.clinic }}</td>
										<td class="text-xs-center">{{ props.item.doctor }}</td>

										<td class="text-xs-center">
					                        <div class="table-chip success" v-if="props.item.status == 'occurring'">
					                        	Aguardando
					                        </div>

					                        <div class="table-chip info" v-if="props.item.status == 'finish'">
					                        	Concluído
					                        </div>

					                        <div class="table-chip danger" v-if="props.item.status == 'canceled'">
					                        	Cancelado
					                        </div>
				                      	</td>


										<td class="text-xs-center" v-if="props.item.status == 'canceled'">
  											<v-btn :to='"/consultas/" + props.item.id' disabled small raised color="primary">
  								            	<v-icon>remove_red_eye</v-icon>
  								            
  								            		Ver detalhes
  								      		</v-btn>
  										</td>

				                      	<td class="text-xs-center" v-if="props.item.status != 'canceled'">
				                        	<v-btn :to='"/consultas/" + props.item.id' small raised color="primary">
				                                <v-icon>remove_red_eye</v-icon>
				                              
				                                  Ver detalhes
				                        	</v-btn>
				                      	</td>
								    </template>
								</v-data-table>
							</v-flex>
						</v-layout>
					</v-container>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'

import IconConsult from '../icons/IconConsult';

export default {
	components: {
		IconConsult,
		FullCalendar 
	},

    data () {
      return {
      	calendarPlugins: [ dayGridPlugin ],
        headers: [
          { text: 'Data/Hora', align: 'center', value: 'data' },
          { text: 'Nome do Tratamento', align: 'center', value: 'treatment' },
          { text: 'Nome do Procedimento', align: 'center', value: 'procediment' },
          { text: 'Clínica', align: 'center', value: 'clinic' },
          { text: 'Dentista', align: 'center', value: 'doctor' },
          { text: 'Status', align: 'center', value: 'status' },
          { text: ' ', value: 'details' }
        ],
        desserts: [
          {
          	id: 1,
          	date: '10/12',
          	time: '2:15',
          	treatment: 'Tratamento 1',
            procediment: 'Procedimento 1',
            clinic: 'Nome da Clinica',
            doctor: 'Dr. Seu Dentista',
            status: 'finish'
          },
          {
          	id: 2,
          	date: '10/12',
          	time: '2:15',
          	treatment: 'Tratamento 1',
            procediment: 'Procedimento 1',
            clinic: 'Nome da Clinica',
            doctor: 'Dr. Seu Dentista',
            status: 'occurring'
          },
          {
          	id: 3,
          	date: '10/12',
          	time: '2:15',
          	treatment: 'Tratamento 1',
            procediment: 'Procedimento 1',
            clinic: 'Nome da Clinica',
            doctor: 'Dr. Seu Dentista',
            status: 'occurring'
          },
          {
          	id: 4,
          	date: '10/12',
          	time: '2:15',
          	treatment: 'Tratamento 1',
            procediment: 'Procedimento 1',
            clinic: 'Nome da Clinica',
            doctor: 'Dr. Seu Dentista',
            status: 'canceled'
          },
        ]
      }
    }
}
</script>

<style lang="scss">
	
</style>
