<template>
	<v-container>
		<v-layout row wrap>
			<v-flex>
				<v-card flat class="panel">
					<v-toolbar card light dense elevation="0">
						<v-breadcrumbs divider="-" class="px-0">
						    <v-breadcrumbs-item>
						    	<IconTreatment/>

						        Consulta
						      </v-breadcrumbs-item>

						      <v-breadcrumbs-item class="active">
						    	<v-icon>remove_red_eye</v-icon>

						        Ver detalhes
						      </v-breadcrumbs-item>
						</v-breadcrumbs>
					</v-toolbar>

					<v-container grid-list-lg>
			            <v-layout row wrap>
			              <v-flex xs12>
			                <v-card flat class="panel elevation-1">
			                  <v-toolbar card light dense elevation="0">
			                    {{ date }} - R$ {{ treatment.price }} - {{ treatment.name }}
			                  </v-toolbar>

			                  <v-container grid-list-lg>
			                    <v-layout row wrap>
			                      <v-flex xs12>
			                        <div class="subheading">Dados da Clínica</div>
			                      </v-flex>
			                    </v-layout>

			                    <v-layout row wrap class="panel-group">
			                      <v-flex xs12 sm4>
			                        <div class="panel-row">
			                          <span class="body-2 mr-1">Nome:</span> <span class="body-1">{{ clinic.name }}</span>
			                        </div>

			                        <div class="panel-row">
			                          <span class="body-2 mr-1">Endereço:</span> <span class="body-1">{{ clinic.address }}</span>
			                        </div>
			                      </v-flex>

			                      <v-flex xs12 sm4>
			                        <div class="panel-row">
			                          <span class="body-2 mr-1">Telefone:</span> <span class="body-1">{{ clinic.phone }}</span>
			                        </div>

			                        <div class="panel-row">
			                          <span class="body-2 mr-1">E-mail:</span> <span class="body-1">{{ clinic.mail }}</span>
			                        </div>
			                      </v-flex>

			                      <v-flex xs12 sm4>
			                        <div class="panel-row">
			                          <span class="body-2 mr-1">Site:</span> <span class="body-1">{{ clinic.site }}</span>
			                        </div>
			                      </v-flex>
			                    </v-layout>

			                    <v-divider/>

			                    <v-layout row wrap>
			                      <v-flex xs12>
			                        <div class="subheading">Dados do Consulta</div>
			                      </v-flex>
			                    </v-layout>

			                    <v-layout row wrap class="panel-group">
			                      <v-flex xs12 sm4>
			                        <div class="panel-row">
			                          <span class="body-2 mr-1">Tratamento:</span> <span class="body-1">{{ treatment.name }}</span>
			                        </div>

			                        <div class="panel-row">
			                          <span class="body-2 mr-1">Procedimentos: </span>

			                          <span class="body-1" v-for="n in treatment.procedures">
			                              {{ n }},
			                          </span>
			                          </div>
			                        </div>
			                      </v-flex>

			                      <v-flex xs12 sm4>
			                        <div class="panel-row">
			                          <span class="body-2 mr-1">Status:</span>

			                          <span class="body-1">Aguardando</span>
			                        </div>

			                        <div class="panel-row">
			                          <span class="body-2 mr-1">Dentistas: </span>

			                          <span class="body-1" v-for="n in treatment.doctors">
			                              {{ n }},
			                          </span>
			                          </div>
			                        </div>
			                      </v-flex>

			                      <v-flex xs12 sm4>
			                        <div class="panel-row">
			                          <span class="body-2 mr-1">Data:</span> <span class="body-1">{{ date }}</span>
			                        </div>

			                        <div class="panel-row">
			                          <span class="body-2 mr-1">Hora:</span> <span class="body-1">{{ time }}</span>
			                        </div>
			                      </v-flex>

			                      <v-flex xs12>
			                      	<textarea readonly style="resize:none;width: 100%;text-align: left;padding: 10px;border: 1px solid #C4C4C4;">{{ description }}</textarea>
			                      </v-flex>
			                    </v-layout>
			                  </v-container>
			                </v-card>
			              </v-flex>
			            </v-layout>
			        </v-container>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
import IconTreatment from '../icons/IconTreatment';

export default {
	components: {
		IconTreatment
	},

    data () {
      return {
      	date: '20/20/2020',
      	time: '20:00',
      	description: 'Observações',
        treatment: {
          id: 1,
          name: 'Tratamento 01',
          price: 200.00,
          amountPaid: 100.00,
          status: 'occurring',
          procedures: ['Procedimento 01', 'Procedimento 02'],
          doctors: ['Doutor 01'],
          stage: 10,
        },
        clinic: {
          id: 1,
          name: 'Clínica 01',
          phone: '47 9999 9999',
          mail: 'email@gmail.com',
          site: 'www.clinica.com.br',
          address: 'Endereço da Clínica, n 50, Lorem Ipsum'
        }
      }
    }
}
</script>

<style lang="scss">
	
</style>
