<template>
	<v-container>
		<v-layout row wrap>
			<v-flex>
				<v-card flat class="panel">
					<v-toolbar card light dense elevation="0">
						<v-breadcrumbs divider="-" class="px-0">
						    <v-breadcrumbs-item>
						    	<IconPayment/>
						      Pagamento
						    </v-breadcrumbs-item>

                <v-breadcrumbs-item class="active">
                    <v-icon>remove_red_eye</v-icon>
                    
                    Ver Detalhes
                </v-breadcrumbs-item>
						</v-breadcrumbs>
					</v-toolbar>

          <v-container grid-list-lg>
            <v-layout row wrap>
              <v-flex xs12>
                <v-card flat class="panel elevation-1">
                  <v-toolbar card light dense elevation="0">
                    {{ date }} - R$ {{ treatment.price }} - {{ clinic.name }}
                  </v-toolbar>

                  <v-container grid-list-lg>
                    <v-layout row wrap>
                      <v-flex xs12>
                        <div class="subheading">Dados da Clínica</div>
                      </v-flex>
                    </v-layout>

                    <v-layout row wrap class="panel-group">
                      <v-flex xs12 sm4>
                        <div class="panel-row">
                          <span class="body-2 mr-1">Nome:</span> <span class="body-1">{{ clinic.name }}</span>
                        </div>

                        <div class="panel-row">
                          <span class="body-2 mr-1">Endereço:</span> <span class="body-1">{{ clinic.address }}</span>
                        </div>
                      </v-flex>

                      <v-flex xs12 sm4>
                        <div class="panel-row">
                          <span class="body-2 mr-1">Telefone:</span> <span class="body-1">{{ clinic.phone }}</span>
                        </div>

                        <div class="panel-row">
                          <span class="body-2 mr-1">E-mail:</span> <span class="body-1">{{ clinic.mail }}</span>
                        </div>
                      </v-flex>

                      <v-flex xs12 sm4>
                        <div class="panel-row">
                          <span class="body-2 mr-1">Site:</span> <span class="body-1">{{ clinic.site }}</span>
                        </div>
                      </v-flex>
                    </v-layout>

                    <v-divider/>

                    <v-layout row wrap>
                      <v-flex xs12>
                        <div class="subheading">Dados do Tratamento</div>
                      </v-flex>
                    </v-layout>

                    <v-layout row wrap class="panel-group">
                      <v-flex xs12 sm4>
                        <div class="panel-row">
                          <span class="body-2 mr-1">Tratamento:</span> <span class="body-1">{{ treatment.name }}</span>
                        </div>

                        <div class="panel-row">
                          <span class="body-2 mr-1">Procedimentos: </span>

                          <span class="body-1" v-for="n in treatment.procedures">
                              {{ n }},
                          </span>
                          </div>
                        </div>
                      </v-flex>

                      <v-flex xs12 sm4>
                        <div class="panel-row">
                          <span class="body-2 mr-1">Status:</span>

                          <span v-if="treatment.status == 'occurring'" class="body-1 success--text">Ocorrendo</span>
                        </div>

                        <div class="panel-row">
                          <span class="body-2 mr-1">Dentistas: </span>

                          <span class="body-1" v-for="n in treatment.doctors">
                              {{ n }},
                          </span>
                          </div>
                        </div>
                      </v-flex>

                      <v-flex xs12 sm4>
                        <div class="panel-row">
                          <span class="body-2 mr-1">Valor quitado:</span> <span class="body-1">R$ {{ treatment.amountPaid }}</span>
                        </div>

                        <div class="panel-row">
                          <span class="body-2 mr-1">Valor total:</span> <span class="body-1"> R${{ treatment.price }}</span>
                        </div>
                      </v-flex>

                      <v-flex xs12 sm10>
                        <div class="body-2">Etapa do tratamento</div>

                        <v-progress-linear v-model="treatment.stage"></v-progress-linear>
                      </v-flex>

                      <v-flex xs12 sm2 align-end>
                        <v-btn :to='"/tratamento/" + treatment.id' small raised color="primary">
                          <v-icon>remove_red_eye</v-icon>
                        
                          Ver detalhes
                        </v-btn>
                      </v-flex>
                    </v-layout>

                    <v-divider/>

                    <v-layout row wrap>
                      <v-flex xs12>
                        <div class="subheading">Dados do Pagamento</div>
                      </v-flex>
                    </v-layout>

                    <v-layout row wrap class="panel-group">
                      <v-flex xs12 sm4>
                        <div class="panel-row">
                          <span class="body-2 mr-1">Status:</span>

                          <span v-if="status == 'a-pagar'" class="body-1">A pagar</span>
                          <span v-if="status == 'pago'" class="body-1">Pago</span>
                          <span v-if="status == 'atrasado'" class="body-1">Atrasado</span>
                        </div>

                        <div class="panel-row">
                          <span class="body-2 mr-1">Forma de pagamento:</span> <span class="body-1">{{ paymentMethod }}</span>
                        </div>

                        <div class="panel-row">
                          <span class="body-2 mr-1">Parcelas:</span> <span class="body-1">{{ portions }}</span>
                        </div>

                        <div class="panel-row">
                          <span class="body-2 mr-1">Vencimento:</span> <span class="body-1">{{ due }}</span>
                        </div>
                      </v-flex>

                      <v-flex xs12 sm4>
                        <div class="panel-row">
                          <span class="body-2 mr-1">Dentistas: </span>

                          <span class="body-1" v-for="n in treatment.doctors">
                              {{ n }},
                          </span>
                          </div>
                        </div>
                      </v-flex>

                      <v-flex sm12>
                        <v-progress-linear v-model="treatment.stage"></v-progress-linear>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
import IconPayment from '../icons/IconPayment';

export default {
	components: {
		IconPayment
	},

    data () {
      return {
        status: 'a-pagar',
        paymentMethod: 'credit',
        portions: '10 x R$ 150,00',
        due: '10/02/2020',
        date: '20/20/20',
        treatment: {
          id: 1,
          name: 'Tratamento 01',
          price: 200.00,
          amountPaid: 100.00,
          status: 'occurring',
          procedures: ['Procedimento 01', 'Procedimento 02'],
          doctors: ['Doutor 01'],
          stage: 10,
        },
        clinic: {
          id: 1,
          name: 'Clínica 01',
          phone: '47 9999 9999',
          mail: 'email@gmail.com',
          site: 'www.clinica.com.br',
          address: 'Endereço da Clínica, n 50, Lorem Ipsum'
        }
      }
    }
}
</script>

<style lang="scss">
	
</style>
