<template>
	<v-container>
		<v-layout row wrap>
			<v-flex>
				<v-card flat class="panel">
					<v-toolbar card light dense elevation="0">
						<v-breadcrumbs divider="-" class="px-0">
						    <v-breadcrumbs-item class="active">
						    	<IconPayment/>

						        Pagamento
						      </v-breadcrumbs-item>
						</v-breadcrumbs>
					</v-toolbar>

					<v-container grid-list-lg>
						<v-layout row wrap>
							<v-flex xs12>
								<v-data-table :headers="headers" :items="desserts" class="elevation-2">
								    <template v-slot:items="props">
										<td v-if="props.item.status == 'a-pagar'">
											<div class="td-status status-1">
												A Pagar
											</div>
										</td>

										<td v-if="props.item.status == 'pago'">
											<div class="td-status status-2">
												Pago
											</div>
										</td>

										<td v-if="props.item.status == 'atrasado'">
											<div class="td-status status-3">
												Atrasado
											</div>
										</td>

										<td class="text-xs-center">{{ props.item.clinic }}</td>
										<td class="text-xs-center">{{ props.item.treatment }}</td>
										<td class="text-xs-center">{{ props.item.value }}</td>
										<td class="text-xs-center">{{ props.item.vencimento }}</td>

										<td class="text-xs-center">
											<div class="payment-method" v-if="props.item.methodPayment == 'ticket'">
												<IconTicket/>

												<div class="label">
													Boleto
												</div>
											</div>

											<div class="payment-method" v-if="props.item.methodPayment == 'credit'">
												<IconCreditCard/>

												<div class="label">
													Cartão de Crédito
												</div>
											</div>

											<div class="payment-method" v-if="props.item.methodPayment == 'debit'">
												<IconCreditCard/>

												<div class="label">
													Cartão de Débito
												</div>
											</div>

											<div class="payment-method" v-if="props.item.methodPayment == 'money'">
												<IconMoney/>

												<div class="label">
													Dinheiro
												</div>
											</div>
										</td>

										<td class="text-xs-center">
											<v-btn :to='"/pagamento/" + props.item.id' small raised color="primary">
								            	<v-icon>remove_red_eye</v-icon>
								            
								            	Ver detalhes
								          	</v-btn>
										</td>
								    </template>
								</v-data-table>
							</v-flex>
						</v-layout>
					</v-container>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
import IconPayment from '../icons/IconPayment';
import IconDebitCard from '../icons/IconDebitCard';
import IconCreditCard from '../icons/IconCreditCard';
import IconMoney from '../icons/IconMoney';
import IconTicket from '../icons/IconTicket';	

export default {
	components: {
		IconPayment,
		IconDebitCard,
		IconCreditCard,
		IconTicket,
		IconMoney
	},

    data () {
      return {
        headers: [
          { text: 'Status', align: 'center', value: 'status' },
          { text: 'Clínica', align: 'center', value: 'clinic' },
          { text: 'Nome do Tratamento', align: 'center', value: 'treatment' },
          { text: 'Valor Quitado', align: 'center', value: 'value' },
          { text: 'Vencimento', align: 'center', value: 'vencimento' },
          { text: 'Forma de Pagamento', align: 'center', sortable: false, value: 'payment' },
          { text: ' ', align: 'center', value: 'details' }
        ],
        desserts: [
          {
          	id: 1,
          	status: 'a-pagar',
            clinic: 'Clínica 1',
            treatment: 'Tratamento 1',
            value: 'R$ 200,00',
            vencimento: '10/02/2020',
            methodPayment: 'debit',
          },
          {
          	id: 2,
          	status: 'pago',
            clinic: 'Clínica 2',
            treatment: 'Tratamento 1',
            value: 'R$ 200,00',
            vencimento: '10/02/2020',
            methodPayment: 'ticket',
          },
          {
          	id: 3,
          	status: 'atrasado',
            clinic: 'Clínica 3',
            treatment: 'Tratamento 1',
            value: 'R$ 200,00',
            vencimento: '10/02/2020',
            methodPayment: 'credit',
          },
          {
          	id: 4,
          	status: 'atrasado',
            clinic: 'Clínica 4',
            treatment: 'Tratamento 1',
            value: 'R$ 200,00',
            vencimento: '10/02/2020',
            methodPayment: 'money',
          },
          {
          	id: 5,
          	status: 'atrasado',
            clinic: 'Clínica 5',
            treatment: 'Tratamento 1',
            value: 'R$ 200,00',
            vencimento: '10/02/2020',
            methodPayment: 'debit',
          },
          {
          	id: 6,
          	status: 'a-pagar',
            clinic: 'Clínica 6',
            treatment: 'Tratamento 1',
            value: 'R$ 200,00',
            vencimento: '10/02/2020',
            methodPayment: 'debit',
          },
        ]
      }
    }
}
</script>

<style lang="scss">
	.payment-method {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		padding: 10px 0;

		.icon {
			margin-bottom: 8px;
		}

		.label {

		}
	}
</style>
