<template>
	<v-container>
		<v-layout row wrap>
			<v-flex>
				<v-tabs v-model="active">
			      	<v-tab v-for="n in tabs" :key="n.id">
				        <v-btn round outline color="indigo">{{ n.title }}</v-btn>
			      	</v-tab>

			      	<v-tab-item key="1">
						<v-card flat class="panel">
							<v-toolbar card light dense elevation="0">
								<v-breadcrumbs divider="-" class="px-0">
									<v-breadcrumbs-item>
								        <IconHome/>
								        Home
								    </v-breadcrumbs-item>

								    <v-breadcrumbs-item class="active">
								        Próximas Consultas
								      </v-breadcrumbs-item>
								</v-breadcrumbs>
							</v-toolbar>

							<v-container grid-list-lg>
								<v-layout row wrap>
									<v-flex xs12 sm6>
										<CardProcedure/>
									</v-flex>

									<v-flex xs12 sm6>
										<CardProcedure/>
									</v-flex>
								</v-layout>

								<v-layout row wrap class="">
									<v-flex style="display: flex;" class="mt-4" xs12 align-center justify-center>
									  	<v-btn :to="'/consultas'" round outline color="indigo">
									  		<v-icon>remove_red_eye</v-icon>

									  		Ver todas consultas</v-btn>
									</v-flex>
								</v-layout>
							</v-container>
						</v-card>
			      	</v-tab-item>

			      	<v-tab-item key="2">
			      		<v-card flat class="panel">
							<v-toolbar card light dense elevation="0">
								<v-breadcrumbs divider="-" class="px-0">
									<v-breadcrumbs-item>
								        <IconHome/>
								        Home
								    </v-breadcrumbs-item>

								    <v-breadcrumbs-item class="active">
								        Informações Gerais
								      </v-breadcrumbs-item>
								</v-breadcrumbs>
							</v-toolbar>

							<v-container grid-list-lg>
								<v-layout row wrap>
									<v-flex xs12 sm4>
										<v-card class="card-2">
									        <v-card-title primary-title>
									          <h3 class="headline mb-0">Em Andamento</h3>
									          
									          <IconConsult height="25"/>
									        </v-card-title>

									        <div class="v-card__body">
									        	<v-container grid-list-lg>
													<v-layout row wrap>
														<v-flex xs12 py-0>
									        				<v-progress-circular
														      :rotate="360"
														      :size="100"
														      :width="10"
														      :value="0"
														    >
														      5
														    </v-progress-circular>
									        			</v-flex>
									        		</v-layout>
									        	</v-container>
									        </div>

									        <v-card-actions>
									        	<div class="">
									        		2 Clínicas diferentes
									        	</div>
									        </v-card-actions>
									    </v-card>
									</v-flex>

									<v-flex xs12 sm4>
										<v-card class="card-2">
									        <v-card-title primary-title>
									          <h3 class="headline mb-0">Tratamentos</h3>
									          
									          <IconTreatment height="25"/>
									        </v-card-title>

									        <div class="v-card__body">
									        	<v-container grid-list-lg>
													<v-layout row wrap>
														<v-flex xs12 py-0>
									        				<div class="body-1">Tratamento 01</div>

									        				<v-progress-linear v-model="progress"></v-progress-linear>
									        			</v-flex>
									        		</v-layout>

									        		<v-layout row wrap>
														<v-flex xs12 py-0>
									        				<div class="body-1">Tratamento 02</div>

									        				<v-progress-linear v-model="progress"></v-progress-linear>
									        			</v-flex>
									        		</v-layout>

									        		<v-layout row wrap>
														<v-flex xs12 py-0>
									        				<div class="body-1">Tratamento 03</div>

									        				<v-progress-linear v-model="progress"></v-progress-linear>
									        			</v-flex>
									        		</v-layout>
									        	</v-container>
									        </div>

									        <v-card-actions>
									        	<div class="">
									        		1 Tratamento(s) ao total
									        	</div>

									          	<v-btn :to="'/tratamento'" flat color="primary">
									          		<v-icon>remove_red_eye</v-icon>
									          		Ver todos
									          	</v-btn>
									        </v-card-actions>
									    </v-card>
									</v-flex>

									<v-flex xs12 sm4>
										<v-card class="card-2">
									        <v-card-title primary-title>
									          <h3 class="headline mb-0">Pagamentos</h3>
									          
									          <IconPayment height="25"/>
									        </v-card-title>

									        <div class="v-card__body">
									        	<v-container grid-list-lg>
													<v-layout row wrap>
														<v-flex xs12 py-0>
									        				<div class="body-1">Tratamento 01</div>

									        				<v-progress-linear v-model="progress"></v-progress-linear>
									        			</v-flex>
									        		</v-layout>

									        		<v-layout row wrap>
														<v-flex xs12 py-0>
									        				<div class="body-1">Tratamento 02</div>

									        				<v-progress-linear v-model="progress"></v-progress-linear>
									        			</v-flex>
									        		</v-layout>

									        		<v-layout row wrap>
														<v-flex xs12 py-0>
									        				<div class="body-1">Tratamento 03</div>

									        				<v-progress-linear v-model="progress"></v-progress-linear>
									        			</v-flex>
									        		</v-layout>
									        	</v-container>
									        </div>

									        <v-card-actions>
									        	<div class="">
									        		1 Pagamento(s) ao total
									        	</div>

									          	<v-btn :to="'/pagamento'" flat color="primary">
									          		<v-icon>remove_red_eye</v-icon>
									          		Ver todos
									          	</v-btn>
									        </v-card-actions>
									    </v-card>
									</v-flex>
								</v-layout>
							</v-container>
						</v-card>
			      	</v-tab-item>
			    </v-tabs>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
import CardProcedure from '../components/CardProcedure'
import IconHome from '../icons/IconHome'
import IconTreatment from '../icons/IconTreatment'
import IconPayment from '../icons/IconPayment'
import IconConsult from '../icons/IconConsult'

export default {
	components: {
		CardProcedure,
		IconHome,
		IconTreatment,
		IconPayment,
		IconConsult
	},

    data: () => ({
    	progress: 50,
		tabs: [
			{
				id: 1,
				title: 'Próxima(s) Consulta(s)'
			},
			{
				id: 2,
				title: 'Informações Gerais'
			}
		]
    })
}
</script>

<style lang="scss">
	
</style>
