<template>
	<v-container>
		<v-layout row wrap>
			<v-flex>
				<v-card flat class="panel">
					<v-toolbar card light dense elevation="0">
						<v-breadcrumbs divider="-" class="px-0">
						    <v-breadcrumbs-item class="active">
						    	<IconTreatment/>

						        Tratamento
						      </v-breadcrumbs-item>
						</v-breadcrumbs>
					</v-toolbar>

					<v-container grid-list-lg>
						<v-layout row wrap>
							<v-flex xs12>
								<v-data-table :headers="headers" :items="desserts" class="elevation-2">
								    <template v-slot:items="props">
                      <td v-if="props.item.status == 'occurring'">
                        <div class="td-status status-1">
                          {{ props.item.level }}
                        </div>
                      </td>

                      <td v-if="props.item.status == 'canceled'">
                        <div class="td-status status-2">
                          {{ props.item.level }}
                        </div>
                      </td>

                      <td v-if="props.item.status == 'finish'">
                        <div class="td-status status-3">
                          {{ props.item.level }}
                        </div>
                      </td>

  										<td class="text-xs-center">{{ props.item.name }}</td>
  										<td class="text-xs-center">{{ props.item.clinic }}</td>
  										<td class="text-xs-center">{{ props.item.next }}</td>
  										<td class="text-xs-center">{{ props.item.value }}</td>

  										<td class="text-xs-center">
                        <div class="table-chip success" v-if="props.item.status == 'occurring'">
                          Ocorrendo
                        </div>

                        <div class="table-chip info" v-if="props.item.status == 'finish'">
                          Concluído
                        </div>

                        <div class="table-chip danger" v-if="props.item.status == 'canceled'">
                          Cancelado
                        </div>
                      </td>

  										<td class="text-xs-center" v-if="props.item.status == 'canceled'">
  											<v-btn :to='"/tratamento/" + props.item.id' disabled small raised color="primary">
  								            	<v-icon>remove_red_eye</v-icon>
  								            
  								            		Ver detalhes
  								      </v-btn>
  										</td>

                      <td class="text-xs-center" v-if="props.item.status != 'canceled'">
                        <v-btn :to='"/tratamento/" + props.item.id' small raised color="primary">
                                <v-icon>remove_red_eye</v-icon>
                              
                                  Ver detalhes
                        </v-btn>
                      </td>
								    </template>
								</v-data-table>
							</v-flex>
						</v-layout>
					</v-container>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
import IconTreatment from '../icons/IconTreatment';

export default {
	components: {
		IconTreatment
	},

  data () {
    return {
      headers: [
        { text: 'Etapa', align: 'center', sortable: false, value: 'level' },
        { text: 'Nome do Tratamento', align: 'center', value: 'name' },
        { text: 'Clínica', align: 'center', value: 'clinic' },
        { text: 'Próxima Consulta', align: 'center', value: 'next' },
        { text: 'Valor Quitado', align: 'center', value: 'value' },
        { text: 'Status', align: 'center', value: 'status' },
        { text: ' ', align: 'center', value: 'details' }
      ],
      desserts: [
        {
        	id: 1,
        	level: '10/12',
        	name: 'Tratamento 1',
          clinic: 'Clínica 1',
          next: '10/12',
          value: 'R$ 200,00',
          status: 'occurring'
        },
        {
        	id: 1,
        	level: '10/12',
        	name: 'Tratamento 1',
          clinic: 'Clínica 1',
          next: '10/12',
          value: 'R$ 200,00',
          status: 'canceled'
        },
        {
        	id: 1,
        	level: '10/12',
        	name: 'Tratamento 1',
          clinic: 'Clínica 1',
          next: '10/12',
          value: 'R$ 200,00',
          status: 'finish'
        },
        {
        	id: 1,
        	level: '10/12',
        	name: 'Tratamento 1',
          clinic: 'Clínica 1',
          next: '10/12',
          value: 'R$ 200,00',
          status: 'finish'
        },
      ]
    }
  }
}
</script>

<style lang="scss">

</style>
