<template>
	<v-card class="procedure-card">
  		<v-flex class="procedure-lead">
  			<div class="procedure-date">
          30/12
        </div>

        <div class="procedure-time">
          2:15
        </div>

        <div class="procedure-time-type">
          AM
        </div>

        <div class="procedure-missing-days">
          Faltam - 7 dias
        </div>
  		</v-flex>

  		<v-flex class="procedure-body">
  			<v-card-title>
          <v-container px-0 py-0 fill-height fluid>
    				<v-layout column>
              <v-flex xs12 align-end flexbox>
        				<h3 class="title">Nome do procedimento</h3>

                <ul class="procedure-list">
                  <li>Nome da Clinica</li>

                  <li>Nome da Clinica</li>

                  <li>Nome da Clinica</li>
                </ul>

        				<div class="procedure-label">Dentista(s) responsável(éis): (1)Nome do dentista</div>
              </v-flex>
        		</v-layout>
          </v-container>
  			</v-card-title>

        <v-card-actions>
          <v-btn :to="'/procedimento/1'" raised color="primary">
            <v-icon>remove_red_eye</v-icon>
            
            Ver detalhes
          </v-btn>
        </v-card-actions>
  		</v-flex>
    </v-card>
</template>

<script>
//import IconClinic from '../icons/IconClinic'
</script>

<style lang="scss">
    .procedure-card {
        display: flex;

        height: 278px;

        .procedure-lead {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            width: 172px;
            max-width: 172px;
            background: #1867C0;

            .procedure-date {
              color: #fff;
              font-size: 18px;
              line-height: 1;
              font-weight: 300;

              margin-bottom: 10px;
            }

            .procedure-time {
              color: #fff;
              font-weight: 300;
              font-size: 48px;
              line-height: 1;

              margin-bottom: 10px;
            }

            .procedure-time-type {
              color: #fff;
              font-size: 18px;
              font-weight: 300;
              line-height: 1;

              margin-bottom: 20px;
            }

            .procedure-missing-days {
              color: #fff;
              font-size: 14px;
              font-weight: 300;
            }
        }

        .procedure-body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            
            padding: 0 !important;

            .v-card__title {
                width: 100%;

                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 35px;

                .title {
                  color: #757575;
                  font-size: 18px;
                  font-weight: 300;

                  margin-bottom: 20px;
                }
            }

            .procedure-list {
              list-style: none;
              padding: 0;
              margin: 0;
              margin-bottom: 10px;

              li {
                color: #757575;
                font-size: 14px;
                font-weight: 300;
              }
            }

            .procedure-label {
              color: #757575;
              font-size: 14px;
              font-weight: 300;
            }

            .v-card__actions {
              width: 100%;
              justify-content: center;

              padding-left: 20px;
              padding-right: 20px;
              padding-bottom: 15px;

              .v-btn {
                width: 100%;
                margin: 0;
              }
            }
        }
    }
</style>
