<template>
    <v-navigation-drawer class="sidebar"
        app
        v-model="drawer"
        width="130"
        id="drawer">
        <v-container pb-0>
            <v-layout>
                <v-flex justify-center>
                    <v-img
                        :src="require('../assets/logo.svg')"
                        max-width="72"
                    ></v-img>
                </v-flex>
            </v-layout>
        </v-container>

        <v-list>
            <v-list-tile class="sidebar-item" :to="'/'">
                <v-flex column align-content-center>
                    <v-list-tile-action>
                        <IconHome/>
                    </v-list-tile-action>

                    <v-list-tile-title>
                        Home
                    </v-list-tile-title>
                </v-flex>
            </v-list-tile>

            <v-list-tile class="sidebar-item" :to="'/consultas'">
                <v-flex column align-content-center>
                    <v-list-tile-action>
                        <IconConsult/>
                    </v-list-tile-action>

                    <v-list-tile-title>
                        Consulta
                    </v-list-tile-title>
                </v-flex>
            </v-list-tile>

            <v-list-tile class="sidebar-item" :to="'/tratamento'">
                <v-flex column align-content-center>
                    <v-list-tile-action>
                        <IconTreatment/>
                    </v-list-tile-action>

                    <v-list-tile-title>
                        Tratamento
                    </v-list-tile-title>
                </v-flex>
            </v-list-tile>

            <v-list-tile class="sidebar-item" :to="'/pagamento'">
                <v-flex column align-content-center>
                    <v-list-tile-action align-content-center>
                        <IconPayment/>
                    </v-list-tile-action>

                    <v-list-tile-title>
                        Pagamento
                    </v-list-tile-title>
                </v-flex>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
import IconHome from '../icons/IconHome';
import IconTreatment from '../icons/IconTreatment';
import IconPayment from '../icons/IconPayment';
import IconConsult from '../icons/IconConsult';

export default {
    components: {
        IconHome,
        IconTreatment,
        IconPayment,
        IconConsult
    },

    props: ['drawer'],

    data: () => ({
        //drawer: null
    })
}
</script>

<style lang="scss">
    .sidebar {
        .sidebar-item {
            margin: 40px 0;

            &:last-child {
                margin-bottom: 0;
            }

            .v-list__tile {
                height: auto;
                padding: 10px 0;

                .v-list__tile__action {
                    justify-content: center;
                    margin-bottom: 10px;

                    .icon {
                        height: 42px;
                    }
                }

                .v-list__tile__title {
                    color: #757575;
                    text-align: center;
                    height: auto;
                }

                &.v-list__tile--active {
                    .v-list__tile__action {
                        .icon {
                            //fill: #000;
                        }
                    }

                    .v-list__tile__title {
                        color: #000;
                    }
                }
            }
        }
    }
</style>

