<template>
	<v-toolbar app dark class="toolbar">
	    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
	    <v-toolbar-title>Painel Creddente</v-toolbar-title>
	</v-toolbar>
</template>

<script>
    export default {
        data: () => ({
        	drawer: true
        })
    }
</script>

<style lang="scss">
	
</style>