<template>
  <v-app>
    <v-toolbar app dark class="toolbar">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>Painel Creddente</v-toolbar-title>
    </v-toolbar>

    <Sidebar :drawer="drawer"/>

    <v-content class="app">
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import Sidebar from './components/Sidebar'

export default {
  name: 'CredDent',

  components: {
    Sidebar
  },

  data () {
    return {
      drawer: null
    }
  }
}
</script>

<style lang="scss">
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
  .toolbar {
    background: linear-gradient(179.2deg, #4055B9 -31.06%, #3756B7 190.07%);
  }

    .v-tabs {
      .v-tabs__bar {
        background: transparent;

        .v-tabs__wrapper {
          .v-tabs__container {
            height: auto;
            margin-bottom: 35px;

            .v-tabs__slider-wrapper {
              display: none;
            }

            .v-tabs__div {
              .v-tabs__item {
                padding: 0;
                border-radius: 36px;
                margin-right: 20px;

                .v-btn {
                  margin: 0;
                }

                &.v-tabs__item--active {

                }
              }

              &:first-child {
                .v-btn {
                  margin-left: 0;
                }
              }

              &:last-child {
                .v-btn {
                  margin-right: 0;
                } 
              }
            }
          }
        }
      }
    }

    .card-2 {
      .v-card__title  {
        display: flex;
        justify-content: space-between;

        h3 {

        }

        .icon {

        }
      }

      .v-card__body {
        .container {
          padding-left: 16px;
          padding-right: 16px;
        }

        .v-progress-circular {
          height: 160px !important;
          width: 100% !important;

          .v-progress-circular__info {
            color: #757575;
            font-size: 64px;
            font-weight: bold;
          }
        }
      }

      .v-card__actions {
        display: flex;
        justify-content: space-between;

        padding-left: 16px;
        padding-right: 16px;

        border-top: 1px solid #C4C4C4;
      }
    }


    .v-table {
      thead {
        th {
          color: black;
          font-weight: bold;
        }
      }

      .table-chip {
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: auto;
        height: 22px;

        background: transparent !important;
        border: 1px solid transparent;

        padding: 0 12px;

        &.success {
          border-color: #EAEAEA !important;
          color: #777 !important;
        }

        &.info {
          border-color: #D4DAEF !important;
          color: #D4DAEF !important;
        }

        &.danger {
          border-color: #FF9999 !important;
          color: #FF9999 !important;
        }
      }

      .td-status {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        width: 65px;
        height: 40px;

        border: 1px solid transparent;

        margin: 10px 0;

        &.status-1 {
          background: #1867C0;
          border-color: #1867C0;
          color: white;
        }

        &.status-2 {
          background: transparent;
          border-color: #757575;
          color: #757575;
        }

        &.status-3 {
          background: #757575;
          border-color: #757575;
          color: white;
        }
      }
    }

    .v-btn {
      text-transform: initial;

      .v-btn__content {
        .v-icon {
          font-size: 20px;
          margin-right: 10px;
        }
      }

      &.v-btn--small {
        .v-btn__content {
          .v-icon {
            font-size: 14px;
            margin-right: 5px;
          }
        }        
      }

      &.v-btn--icon {
        .v-btn__content {
          .v-icon {
            margin: 0;
          }
        }
      }
    }

    .v-content__wrap > .container {
        padding-top: 50px;
    }

    .v-breadcrumbs {
      .v-breadcrumbs__divider {
        &:nth-child(even) {
          padding: 0 6px;
        }
      }

      .v-breadcrumbs__item {
        color: #757575;
        
        .icon {
          width: 24px;

          margin-right: 8px;
        }

        .v-icon {
          margin-right: 6px;
          font-size: 24px;
        }

        &.v-breadcrumbs__item--disabled {
          opacity: 1;
        }
      }

      .active {
        .v-breadcrumbs__item {
          color: #000 !important;
          font-weight: bold;
        }
      }
    }

    .v-card.panel {
        border: 1px solid #E4E4E4;
        border-radius: 4px 4px 0px 0px;

        .v-toolbar {
            border-bottom: 1px solid #E4E4E4;
            border-radius: 4px 4px 0px 0px;
        }

        & > .container {
            padding: 35px 24px;

            .panel {
              .v-toolbar {
                .v-toolbar__content {
                  font-weight: bold;
                }
              }

              .subheading {
                font-weight: bold;
              }

              .v-divider {
                margin: 25px 0;
              }

              .panel-group {
                .panel-row {
                  margin-bottom: 10px;
                }
              }
            }
        }
    }
</style>
